version: '2'

services:
  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  postgres:
    image: postgres:alpine
    command: postgres -N 500 -B 4096MB
    environment:
      POSTGRES_PASSWORD: REPLACE_ME
    ports:
      - 5432:5432

  minio:
    image: minio/minio
    ports:
      - 9000:9000
      - 9001:9001
    command: -c 'mkdir -p /export/smr && /usr/bin/minio server /export'
    environment:
      MINIO_ACCESS_KEY: REPLACE_ME_KEY
      MINIO_SECRET_KEY: REPLACE_ME_SECRET